name: Run rubocop

on:
  push:
  pull_request:
  schedule:
    - cron: '3 22 * * SUN'

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
      - run: bundle install
      - run: bundle exec rake -t rubocop
