name: Run rubocop

on:
  push:
  pull_request:
  schedule:
    - cron: '3 22 * * SUN'

permissions: {}

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      # zizmor complains that 'v1' is a ref that can be provided by both the branch and tag namespaces.
      # specify that we want the v1 branch.
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # 1.288.0
        with:
          ruby-version: 3.4

      - run: bundle install
        env:
          BUNDLE_FROZEN: true
      - run: bundle exec rake -t rubocop
